body {
    background-image: linear-gradient(
        180deg,
        #6495ED 5%,
        #00FFFF 20%,
        #008B8B 60%,
        #00CED1 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}